.Headline {
  font-size: 16px;
  margin: 0%;
}
.Input {
  height: 20px;
  width: auto;
  border: solid 2px black;
}

.GridZutaten {
  display: grid;
  grid-template-columns: 80px 80px auto;
  grid-template-rows: 26px;
  grid-gap: 15px;
  margin-top: 10px;
}

.Dropdown {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: solid black 2px;
  border-radius: 0;
  cursor: pointer;
  background: lightgrey;
  font-size: 16px;
  width: 80px;
  height: 26px;
  padding-left: 10px;
  background-image: url('https://res.cloudinary.com/dajgs01gh/image/upload/v1581717374/dropdown_y3kmal.svg');
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 95% center;
}
.GridTextareas {
  display: grid;
  grid-template-columns: 20px auto;
  margin-top: 10px;
}
.Textarea {
  font-size: 14px;
  resize: vertical;
  border: solid 2px black;
}
